---
const name = "adaAstro";
const items = ["Dog", "Cat", "Platypus"];
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>Hello world from {name}!</h1>
		<ul>
			{items.map((item) => <li>{item}</li>)}
		</ul>
	</body>
</html>
